<form class="auth__login-form login-form card" [formGroup]="formModel.form">
  <h1 class="login-form__title card__title title-reset">Авторизация</h1>

  <div class="login-form__fields-wrapper">
    <div class="login-form__field form__field">
      <input class="login-form__input form__input" name="firstFactor" type="text" id="firstFactor"
        placeholder="Имя пользователя или почта" maxlength="100" formControlName="firstFactor">
    </div>
    <div class="login-form__field form__field">
      <input class="login-form__input form__input" name="password" type="password" id="password" placeholder="Пароль"
        maxlength="100" formControlName="password">
    </div>
  </div>

  <div class="login-form__bottom">
    <app-button classes="login-form__btn" type="submit" [disabled]="!formModel.form.valid" (click)="login()">
      Войти
    </app-button>
    <app-text-link classes="login-form__register-link" [highlight]="true" [linkPath]="registerPath">
      Зерегистрироваться
    </app-text-link>
  </div>
</form>
