:host {}

.btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: var(--text-light-color);
  background-color: var(--button-bg-color);
  border: 1px solid var(--green-color);
  border-radius: 35px;
}

.btn:focus,
.btn:hover,
.btn:active {
  box-shadow: 0 0 16px 0 rgba(137, 217, 99, 0.25);
}

.btn--selected {
  background-color: #616161;
}
