<footer class="footer">
  <div class="footer__media media">
    <ul class="media__list list-reset">
      <li class="media__item">
        <a class="media__item-link" [routerLink]="['#']">
          СКБ-ЛАБ
        </a>
      </li>
      <li class="media__item">
        <a class="media__item-link" [routerLink]="['#']">
          <app-svg-icon icon="confluence" size="24" />
        </a>
      </li>
      <li class="media__item">
        <a class="media__item-link" [routerLink]="['#']">
          <app-svg-icon icon="youtrack" size="27" />
        </a>
      </li>
    </ul>
  </div>
</footer>
