<app-modal-window [show]="show" (close$)="close$.next()">
  <form class="delete-service__form">
    <div class="delete-service__question modal-card__question" for="service-name">
      {{question}}
    </div>
    <div class="delete-service__btns">
      <app-button classes="delete-service__submit-btn" (click$)="submit$.next()">{{ submitText }}</app-button>
      <app-button classes="delete-service__dismiss-btn" (click$)="dismiss$.next()">{{ dismissText }}</app-button>
    </div>
  </form>
</app-modal-window>
