:host {}

::ng-deep .delete-service {
  &__form {
    padding: 66px 40px 30px;
    width: 720px;
  }

  &__question {
    margin-bottom: 45px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
  }

  &__btns {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
  }

  &__submit-btn,
  &__dismiss-btn {
    padding: 12px 40px;
  }
}
