:host {}

.service-actions {
  margin-bottom: 30px;
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;

  &__check-readiness-btn,
  &__generate-page-btn {
    position: relative;
    padding: 7px 10px 7px 30px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFFE6;
    border: 1px solid var(--green-color);
    border-radius: 5px;
  }

  &__check-readiness-btn::before,
  &__generate-page-btn::before {
    position: absolute;
    top: 50%;
    left: 9px;
    width: 20px;
    height: 20px;
    content: '';
    transform: translateY(-42%);
  }

  &__check-readiness-btn::before {
    background: no-repeat url('/icons/clock.svg');
  }

  &__generate-page-btn::before {
    background: no-repeat url('/icons/plus-in-sircle.svg');
  }
}
