@let opened = (opened$ | async);
@let fullyClosed = (fullyClosed$ | async);

<div class="nav__hidden-nav hidden-nav"
  [ngClass]=" {'hidden-nav--opened': opened, 'hidden-nav--fully-closed' : fullyClosed}">
  <button class="hidden-nav__close-btn btn-reset" (click)="closeButtonClick.next()">
    <app-svg-icon icon="cross" size="20" />
  </button>
  <ul class="hidden-nav__list list-reset">
    @for (route of routes; track route.Title) {
    <li class="hidden-nav__item">
      <a class="hidden-nav__item-link" [routerLink]="[route.Path]" [queryParams]="route.QueryParams"
        routerLinkActive="hidden-nav__item-link--active" (click)="closeButtonClick.next()">
        {{ route.Title | uppercase }}
      </a>
    </li>
    }
  </ul>
</div>
