:host {}

.hidden-nav {
  position: absolute;
  top: 28px;
  left: -400px;
  padding: 20px 20px 60px 15px;
  max-width: 300px;
  background-color: var(--hidden-nav-bg-color);
  box-shadow: 4px 1px 10px rgba(0, 0, 0, 0.4);
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  transition: left 0.3s ease-in-out;

  &--opened {
    left: 0;
  }

  &--fully-closed {
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -100;
  }

  &__close-btn {
    padding: 5px;
    margin: 0 0 40px auto;
    display: block;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item-link {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 0.5px;
    color: var(--text-light-color);
  }
}
