<li class="info-card__requirement-item">
  <div class="info-card__requirement-name">
    <div class="info-card__requirement-name-top">
      @if (editMode$ | async) {
        <app-dnd-button />
      }

      {{ requirementItem.name }}
    </div>
    <div class="info-card__requirement-name-bottom">
      Влад Владов
      <!-- {{ requirementItem.responsibleId }} -->
    </div>
  </div>
  <div class="info-card__requirement-content">
    @if (editMode$ | async) {
      <input type="text" [name]="requirementItem.name" [id]="requirementItem.id" [value]="requirementItem.value">
      <button class="info-card__requirement-delete-btn btn-reset"
        (click)="deleteRequirement$.next()">
        <app-svg-icon icon="bin" width="21" height="24" />
      </button>
    }
    @else {
      <ng-container [ngSwitch]="requirementItem.type">
        <ng-container *ngSwitchCase="_requirementTypes.Text">
            <button class="requirement-entity requirement-entity--text btn-reset">
              {{ requirementItem.value }}
            </button>
          </ng-container>
        <ng-container *ngSwitchCase="_requirementTypes.Link">
          <button class="requirement-entity requirement-entity--link btn-reset">
            {{ requirementItem.value }}
          </button>
        </ng-container>
        <ng-container *ngSwitchCase="_requirementTypes.File">
          <button class="requirement-entity requirement-entity--file btn-reset">
            {{ requirementItem.value }}
          </button>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <!-- TODO сохранять перенос текста -->
          <span class="info-card__requirement-row-text">{{ requirementItem.value }}</span>
        </ng-container>
      </ng-container>
    }
  </div>
</li>
