@font-face {
  font-family: 'Bebas Neue';
  src: url('fonts/BebasNeueBold.eot');
  src: local('Bebas Neue Bold'), local('BebasNeueBold'), local('Bebas-Neue-Bold'),
    url('../fonts/BebasNeueBold.woff2') format('woff2'),
    url('../fonts/BebasNeueBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('fonts/BebasNeueRegular.eot');
  src: local('Bebas Neue Regular'), local('BebasNeueRegular'), local('Bebas-Neue-Regular'),
    url('../fonts/BebasNeueRegular.woff2') format('woff2'),
    url('../fonts/BebasNeueRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('fonts/MuseoSansCyrlMedium.eot');
  src: local('Museo Sans Cyrl Medium'), local('MuseoSansCyrlMedium'), local('Museo-Sans-Medium'),
    url('../fonts/MuseoSansCyrlMedium.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrlMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* /////////////////////// */
/* /////////////////////// */
/* /////////////////////// */
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('fonts/MuseoSansCyrlMedium.eot');
  src: local('Museo Sans Cyrl Medium'), local('MuseoSansCyrlMedium'), local('Museo-Sans-Medium'),
    url('../fonts/MuseoSansCyrlMedium.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrlMedium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('fonts/MuseoSansCyrlLight.eot');
  src: local('Museo Sans Cyrl Light'), local('MuseoSansCyrlLight'), local('Museo-Sans-Light'),
    url('../fonts/MuseoSansCyrlLight.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrlLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


:root {
  --max-content-width: 1950px;

  --museo-font: "Museo Sans Cyrl", sans-serif;
  --bebas-font: "Bebas Neue", sans-serif;
  --font-family: "Museo Sans Cyrl", sans-serif;
  --second-family: "Bebas Neue", sans-serif;

  --black-color: #1C1A1A;
  --orange-color: #CF5F00;
  --test-green-color: #5BAB35;
  --green-color: #538C38;
  --white-color: #FFFFFF;

  --text-dark-color: #212121;
  --text-light-color: #FFFFFF;

  --page-bg-color: #1C1A1A;
  --footer-bg-color: #37373733;
  --hidden-nav-bg-color: #2C2C2C;
  --card-bg-color: #373737;
  --search-bg-color: #D9D9D90C;
  --list-item-bg-color: #1C1A1A;
  --button-bg-color: #4D4D4D;
  --checked-radio-btn-bg-color: #585757;
  --unchecked-radio-btn-bg-color: #3F3F3F;

  --loader-light-color: #9BA7FF;
  --loader-dark-color: #3855F6;

  --info-table-border: 2px solid #4B4B4B;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* font-family: var(--second-family); */
}

html {
  background-color: var(--page-bg-color);
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-weight: 400;
  /* background: repeat-y 0 15% url('../icons/background-mask.svg'); */
  background-size: contain;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}



/* ///////////////////        /////////////////// */
/* /////////////////// common /////////////////// */
/* ///////////////////        /////////////////// */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

.title-reset,
.paragraph-reset {
  margin: 0;
}

.stop-scroll {
  overflow-y: hidden;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* ///////////////////        /////////////////// */
/* /////////////////// global /////////////////// */
/* ///////////////////        /////////////////// */

/* /// btn /// */
.btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: var(--text-light-color);
  background-color: var(--button-bg-color);
  border: 1px solid var(--green-color);
  border-radius: 35px;
}

/* /// dnd btn /// */
.dnd-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
}

.dnd-btn__dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #D9D9D9;
}



/* ///////////////////        /////////////////// */
/* /////////////////// layout /////////////////// */
/* ///////////////////        /////////////////// */
.header {
  padding: 0 15px;
}

.nav {
  padding: 40px 100px 0;
  margin: 0 auto 70px;
  width: 100%;
  max-width: var(--max-content-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hidden-nav {
  position: absolute;
  top: 28px;
  left: 0;
  padding: 20px 20px 60px 15px;
  min-width: 200px;
  max-width: 300px;
  min-height: 200px;
  background-color: var(--hidden-nav-bg-color);
  box-shadow: 4px 1px 10px rgba(0, 0, 0, 0.4);
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}

.hidden-nav__close-btn {
  padding: 5px;
  margin: 0 0 40px auto;
  display: block;
}

.hidden-nav__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hidden-nav__item-link {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 0.5px;
  color: var(--text-light-color);
}

.nav-control {
  width: 53px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid var(--green-color);
}

.main-controls {
  display: flex;
  flex-direction: row;
  gap: 27px;
}

.burger-btn__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.burger-btn__item {
  border-radius: 5px;
  width: 21px;
  height: 3px;
  background-color: var(--green-color);
}

.main-controls__home-link svg {
  margin-top: -5px;
}

.user-controls__list {
  display: flex;
  flex-direction: row;
  gap: 27px;
}

.user-controls__item-btn svg {
  margin-right: -5px;
}


.main {
  padding: 0 15px;
  margin: 0 0 100px;
  width: 100%;
  max-width: var(--max-content-width);
}


.footer {
  box-shadow: 4px 1px 10px rgba(0, 0, 0, 0.4);
  background-color: var(--footer-bg-color);
}

.media {
  padding: 50px 15px;
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-content-width);
}

.media__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
}

.media__item-link {
  padding: 5px;
  margin: -5px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  color: var(--orange-color);
}




/* /// card /// */
.card {
  border-radius: 10px;
  box-shadow: 0 9px 8px 0 #FF73001A;
  background-color: var(--card-bg-color);
}

.card__title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 70px;
  line-height: 100%;
  letter-spacing: 1px;
  color: var(--text-light-color);
}

.card__small-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--text-light-color);
}

.card__search-wrapper {
  position: relative;
}

.card__search-wrapper::before {
  position: absolute;
  left: 20px;
  top: calc(50% - 21px);
  content: '';
  width: 20px;
  height: 20px;
  background: no-repeat url('../icons/loupe.svg');
}

.card__search {
  padding: 21px 16px 21px 50px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 26px;
  line-height: 100%;
  color: var(--text-light-color);
  background-color: var(--search-bg-color);
  border: 1px solid var(--black-color);
  border-radius: 10px;
}

.card__search::placeholder {
  color: #FFFFFF4D;
}

.card__list-item {
  padding: 21px 16px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 26px;
  line-height: 100%;
  color: var(--text-light-color);
  border: 1px solid var(--black-color);
  border-radius: 10px;
}



/* /// modal-card /// */
.modal-card {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 21px 0 var(--green-color);
  background-color: var(--card-bg-color);
}

.modal-card__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px;
}

.modal-card__title {
  display: block;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: center;
  color: var(--text-light-color);
}

.modal-card__question {
  display: block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  text-align: justify;
  color: var(--text-light-color);
}

.modal-card__input {
  padding: 9px 15px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  color: var(--text-light-color);
  background-color: inherit;
  border: 2px solid #FFFFFF4D;
  border-radius: 10px;
}

.modal-card__input::placeholder {
  color: #FFFFFF4D;
}



/* /// requirement-entity /// */
.requirement-entity {
  position: relative;
  padding: 8px 10px 8px 40px;
  display: block;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  color: #FFFFFF80;
  border: 1px solid #797979;
  border-radius: 8px;
  background-color: var(--unchecked-radio-btn-bg-color);
}

.requirement-entity::before {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 24px;
  height: 21px;
  content: '';
  transform: translateY(-50%);
}

.requirement-entity--link::before {
  background: no-repeat center center url('../icons/link.svg');
}

.requirement-entity--file::before {
  background: no-repeat center center url('../icons/file.svg');
}

.requirement-entity--text::before {
  background: no-repeat center center url('../icons/pen.svg');
}



/* /// loader /// */
.loader {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--loader-dark-color);
  box-shadow: 32px 0 var(--loader-dark-color), -32px 0 var(--loader-dark-color);
  animation: loader 0.5s ease-out infinite alternate;
}

.loader--vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.loader--horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.loader--center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader--small {
  width: 8px;
  height: 8px;
  background-color: var(--loader-dark-color);
  box-shadow: 16px 0 var(--loader-dark-color), -16px 0 var(--loader-dark-color);
}

@keyframes loader {
  0% {
    background-color: var(--loader-light-color);
    box-shadow: 32px 0 var(--loader-light-color), -32px 0 var(--loader-dark-color);
  }

  50% {
    background-color: var(--loader-dark-color);
    box-shadow: 32px 0 var(--loader-light-color), -32px 0 var(--loader-light-color);
  }

  100% {
    background-color: var(--loader-light-color);
    box-shadow: 32px 0 var(--loader-dark-color), -32px 0 var(--loader-light-color);
  }
}


/* /// modal-window /// */
.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(13px);
  background-color: #80808042;
  opacity: 0;
  z-index: -100;
}

.modal-window--show {
  padding: 50px 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 100;
  opacity: 1;
  overflow-y: auto;
}



/* ///////////////////          /////////////////// */
/* /////////////////// cervices /////////////////// */
/* ///////////////////          /////////////////// */

/* /// cervices-list /// */
.cervices-list {
  padding: 48px 70px;
  margin: 0 auto;
  width: 770px;
}

.cervices-list__head {
  position: relative;
  margin: 0 auto 65px;
  width: fit-content;
}

.cervices-list__add-btn {
  position: absolute;
  top: 5px;
  right: -55px;
  padding: 5px;
}

.cervices-list__search-input {
  margin-bottom: 21px;
  width: 100%;
  height: 60px;
}

.cervices-list__list {
  display: flex;
  flex-direction: column;
  gap: 21px;
}


/* /// add-cervice /// */
.add-cervice__form {
  padding: 56px 90px 20px;
  width: 570px;
}

.add-cervice__title {
  margin-bottom: 30px;
}

.add-cervice__input {
  margin-bottom: 40px;
  width: 100%;
}

.add-cervice__btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.add-cervice__submit-btn,
.add-cervice__cancel-btn {
  padding: 13px 20px;
}


/* /// delete-cervice /// */
.delete-cervice__form {
  padding: 66px 50px 30px;
  width: 720px;
}

.delete-cervice__question {
  margin-bottom: 50px;
}

.delete-cervice__btns {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px;
}

.delete-cervice__submit-btn {
  padding: 12px 40px;
}

.delete-cervice__cancel-btn {
  padding: 12px 34px;
}


/* /// add-requirement /// */
.create-requirement__form {
  padding: 56px 53px 20px;
  width: 570px;
}

.create-requirement__title {
  margin-bottom: 10px;
}

.create-requirement__input {
  margin-bottom: 20px;
  width: 100%;
}

.create-requirement__radio-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.create-requirement__radio-input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
}

.create-requirement__radio-label {
  cursor: pointer;
}

.create-requirement__radio-input:checked+.create-requirement__radio-label {
  color: #FFFFFF;
  border: 1px solid #FFFFFFA7;
  background-color: var(--checked-radio-btn-bg-color);
}


/* /// create requirement /// */
.create-requirement__submit-btn {
  padding: 13px 20px;
  display: block;
  margin: 0 auto;
}


/* /// cervice actions /// */
.cervice-actions {
  margin-bottom: 30px;
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}

.cervice-actions__check-readiness-btn,
.cervice-actions__generate-page-btn {
  position: relative;
  padding: 7px 10px 7px 30px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  color: #FFFFFFE6;
  border: 1px solid var(--green-color);
  border-radius: 5px;
}

.cervice-actions__check-readiness-btn::before,
.cervice-actions__generate-page-btn::before {
  position: absolute;
  top: 50%;
  left: 9px;
  width: 20px;
  height: 20px;
  content: '';
  transform: translateY(-42%);
}

.cervice-actions__check-readiness-btn::before {
  background: no-repeat url('../icons/clock.svg');
}

.cervice-actions__generate-page-btn::before {
  background: no-repeat url('../icons/plus-in-sircle.svg');
}


/* /// cervice reliases /// */
.cervice__reliases {
  padding: 35px 30px;
  margin-right: 40px;
  min-width: 250px;
  max-width: 344px;
  height: fit-content;
  grid-column-start: 1;
  grid-row-start: 2;
}

.cervice__reliases-title {
  margin-bottom: 30px;
}

.cervice__reliases-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cervice__reliase-item {
  position: relative;
  padding-left: 16px;
}

.cervice__reliase-item::before {
  position: absolute;
  top: 15px;
  left: 0;
  width: 6px;
  height: 6px;
  content: '';
  border-radius: 50%;
  background-color: #FFFFFF;
}

.cervice__reliase-link {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 28px;
  word-wrap: break-word;
  color: #FFFFFF99;
}

.cervice__reliase-link:hover {
  color: var(--green-color);
}


/* /// cervice info /// */
/* /// cervice edit /// */
.cervice-info,
.cervice-edit {
  grid-column-start: 2;
  grid-row-start: 2;
}

.cervices__cervice-info-wrapper {
  padding: 0 25px;
  display: grid;
  grid-template-columns: minmax(290px, 1fr) minmax(800px, 2.6fr) 1fr;
}

.cervice-info__head,
.cervice-edit__head {
  padding: 20px 20px 0 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.cervice-info__title,
.cervice-edit__title {
  margin-top: 15px;
  width: 100%;
}

.cervice-info__edit-btn {
  padding: 5px;
  margin: -5px 20px -5px -5px;
}

.cervice-info__delete-btn,
.cervice-edit__close-btn {
  padding: 5px;
  margin: -5px -5px -5px -5px;
}

.cervice-info__requirement-item,
.cervice-edit__requirement-item {
  display: flex;
  flex-direction: row;
  border-top: var(--info-table-border);
}

.cervice-info__requirement-item:last-of-type,
.cervice-edit__requirement-item:last-of-type {
  border-bottom: var(--info-table-border);
}

.cervice-info__requirement-name,
.cervice-edit__requirement-name {
  padding: 14px 30px;
  width: 366px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  color: var(--text-light-color);
  border-right: var(--info-table-border);
}

.cervice-info__requirement-content,
.cervice-edit__requirement-content {
  padding: 15px 18px 17px;
  width: 100%;
}

.cervice-info__requirement-row-text,
.cervice-edit__requirement-row-text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 28px;
  color: var(--text-light-color);
}

.cervice-info__requirement-entity,
.cervice-edit__requirement-entity {
  margin: -7px 0;
}

.cervice-info__footer,
.cervice-edit__footer {
  padding: 10px 30px 0;
}

.cervice-info__add-requirement-btn,
.cervice-edit__add-requirement-btn {
  padding: 5px;
  margin: -5px -5px 0;
}


/* /// cervice edit /// */
.cervice-edit__requirement-item:hover {
  background-color: #D9D9D928;
}

.cervice-edit__requirement-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cervice-edit__requirement-dnd-btn {
  padding: 5px;
  margin: -5px 5px -5px -5px;
}

.cervice-edit__requirement-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cervice-edit__requirement-delete-btn {
  padding: 5px;
  margin: -5px;
}

.cervice-edit__footer {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.cervice-edit__add-requirement-btn {
  margin-bottom: 12px;
  width: fit-content;
}

.cervice-edit__save-changes-btn {
  padding: 16px 34px;
  margin: 0 auto;
  display: block;
}



/* //////////////////          /////////////////// */
/* ////////////////// realises /////////////////// */
/* //////////////////          /////////////////// */





/* ///////////////              ////////////////// */
/* /////////////// requirements ////////////////// */
/* ///////////////              ////////////////// */

/* /// requirements list /// */
.requirements-list {
  margin: 0 auto;
  width: fit-content;
}

.requirements-list__title-wrapper {
  position: relative;
  margin: 0 auto 40px;
  width: fit-content;
}

.requirements-list__title {
  font-size: 64px;
}

.requirements-list__add-btn {
  position: absolute;
  top: 5px;
  right: -55px;
  padding: 5px;
}

.requirements-list__requirement-item {
  display: flex;
  flex-direction: row;
  border-top: var(--info-table-border);
}

.requirements-list__requirement-item:first-of-type {
  border-top: none;
}

.requirements-list__requirement-name {
  padding: 14px 30px;
  min-width: 250px;
  max-width: 400px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  color: var(--text-light-color);
  border-right: var(--info-table-border);
}

.requirements-list__requirement-content {
  padding: 15px 18px 17px;
  min-width: 300px;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.requirements-list__requirement-row-text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 28px;
  color: var(--text-light-color);
}

.requirements-list__requirement-entity {
  margin: -7px 0;
}

.requirements-list__requirement-delete-btn {
  padding: 5px;
  margin: -5px;
}



/* /////////////////           /////////////////// */
/* ///////////////// templates /////////////////// */
/* /////////////////           /////////////////// */





/*
alpha % = alpha HEX
90% = e6
80% = cc
70% = b3
60% = 99
50% = 80
40% = 66
30% = 4d
20% = 33
10% = 1a
*/