@font-face {
  font-family: 'Bebas Neue';
  src: url('fonts/BebasNeueBold.eot');
  src: local('Bebas Neue Bold'), local('BebasNeueBold'), local('Bebas-Neue-Bold'),
    url('../fonts/BebasNeueBold.woff2') format('woff2'),
    url('../fonts/BebasNeueBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('fonts/BebasNeueRegular.eot');
  src: local('Bebas Neue Regular'), local('BebasNeueRegular'), local('Bebas-Neue-Regular'),
    url('../fonts/BebasNeueRegular.woff2') format('woff2'),
    url('../fonts/BebasNeueRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('fonts/MuseoSansCyrlMedium.eot');
  src: local('Museo Sans Cyrl Medium'), local('MuseoSansCyrlMedium'), local('Museo-Sans-Medium'),
    url('../fonts/MuseoSansCyrlMedium.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrlMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* /////////////////////// */
/* /////////////////////// */
/* /////////////////////// */
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('fonts/MuseoSansCyrlMedium.eot');
  src: local('Museo Sans Cyrl Medium'), local('MuseoSansCyrlMedium'), local('Museo-Sans-Medium'),
    url('../fonts/MuseoSansCyrlMedium.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrlMedium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('fonts/MuseoSansCyrlLight.eot');
  src: local('Museo Sans Cyrl Light'), local('MuseoSansCyrlLight'), local('Museo-Sans-Light'),
    url('../fonts/MuseoSansCyrlLight.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrlLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


:root {
  --max-content-width: 1950px;

  --museo-font: "Museo Sans Cyrl", sans-serif;
  --bebas-font: "Bebas Neue", sans-serif;
  --font-family: "Museo Sans Cyrl", sans-serif;
  --second-family: "Bebas Neue", sans-serif;

  --black-color: #1C1A1A;
  --orange-color: #CF5F00;
  --test-green-color: #5BAB35;
  --green-color: #538C38;
  --white-color: #FFFFFF;

  --text-dark-color: #212121;
  --text-light-color: #FFFFFF;

  --page-bg-color: #1C1A1A;
  --footer-bg-color: #37373733;
  --hidden-nav-bg-color: #2C2C2C;
  --card-bg-color: #373737;
  --search-bg-color: #d9d9d90C;
  --list-item-bg-color: #1C1A1A;
  --button-bg-color: #4D4D4D;
  --checked-radio-btn-bg-color: #585757;
  --unchecked-radio-btn-bg-color: #3F3F3F;

  --loader-light-color: #9ba7ff;
  --loader-dark-color: #3855f6;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* font-family: var(--second-family); */
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-weight: 400;
  background-color: var(--page-bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}



/* ///////////////////        /////////////////// */
/* /////////////////// common /////////////////// */
/* ///////////////////        /////////////////// */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

.title-reset,
.paragraph-reset {
  margin: 0;
}

.stop-scroll {
  overflow-y: hidden;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* ///////////////////        /////////////////// */
/* /////////////////// global /////////////////// */
/* ///////////////////        /////////////////// */
.header {
  padding: 0 15px;
}

.nav {
  padding: 40px 100px 0;
  margin: 0 auto 70px;
  width: 100%;
  max-width: var(--max-content-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hidden-nav {
  position: absolute;
  top: 28px;
  left: 0;
  padding: 20px 20px 60px 15px;
  min-width: 200px;
  max-width: 300px;
  min-height: 200px;
  background-color: var(--hidden-nav-bg-color);
  box-shadow: 4px 1px 10px rgba(0, 0, 0, 0.4);
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}

.hidden-nav__close-btn {
  padding: 5px;
  margin: 0 0 40px auto;
  display: block;
}

.hidden-nav__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hidden-nav__item-link {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 0.5px;
  color: var(--text-light-color);
}

.nav-control {
  width: 53px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid var(--green-color);
}

.main-controls {
  display: flex;
  flex-direction: row;
  gap: 27px;
}

.burger-btn__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.burger-btn__item {
  border-radius: 5px;
  width: 21px;
  height: 3px;
  background-color: var(--green-color);
}

.main-controls__home-link svg {
  margin-top: -5px;
}

.user-controls__list {
  display: flex;
  flex-direction: row;
  gap: 27px;
}

.user-controls__item-btn svg {
  margin-right: -5px;
}


.main {
  padding: 0 15px;
  margin: 0 auto 100px;
  width: 100%;
  max-width: var(--max-content-width);
}


.footer {
  box-shadow: 4px 1px 10px rgba(0, 0, 0, 0.4);
  background-color: var(--footer-bg-color);
}

.media {
  padding: 50px 15px;
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-content-width);
}

.media__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
}

.media__item-link {
  padding: 5px;
  margin: -5px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  color: var(--orange-color);
}

.background-angle {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -100;
}




/* /// card /// */
.card {
  border-radius: 10px;
  box-shadow: 0 9px 8px 0 #FF73001A;
  background-color: var(--card-bg-color);
}

.card-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 70px;
  line-height: 100%;
  letter-spacing: 1px;
  color: var(--text-light-color);
}

.card-search-wrapper {
  position: relative;
}

.card-search-wrapper::before {
  position: absolute;
  left: 20px;
  top: calc(50% - 21px);
  content: '';
  width: 20px;
  height: 20px;
  background-image: url('../icons/loupe.svg');
}

.card-search {
  padding: 21px 16px 21px 50px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 26px;
  line-height: 100%;
  color: var(--text-light-color);
  background-color: var(--search-bg-color);
  border: 1px solid var(--black-color);
  border-radius: 10px;
}

.card-search::placeholder {
  color: #FFFFFF4D;
}

.card-list-item {
  padding: 21px 16px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 26px;
  line-height: 100%;
  color: var(--text-light-color);
  border: 1px solid var(--black-color);
  border-radius: 10px;
}



/* /// modal-card /// */
.modal-card {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 21px 0 var(--green-color);
  background-color: var(--card-bg-color);
}

.modal-card-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px;
}

.modal-card-title {
  display: block;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: center;
  color: var(--text-light-color);
}

.modal-card-question {
  display: block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  text-align: justify;
  color: var(--text-light-color);
}

.modal-card-input {
  padding: 9px 15px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  color: var(--text-light-color);
  background-color: inherit;
  border: 2px solid #FFFFFF4D;
  border-radius: 10px;
}

.modal-card-input::placeholder {
  color: #FFFFFF4D;
}

.modal-card-submit-btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: var(--text-light-color);
  background-color: var(--button-bg-color);
  border: 1px solid var(--green-color);
  border-radius: 35px;
}



/* /// loader /// */
.loader {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--loader-dark-color);
  box-shadow: 32px 0 var(--loader-dark-color), -32px 0 var(--loader-dark-color);
  animation: loader 0.5s ease-out infinite alternate;
}

.loader--vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.loader--horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.loader--center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader--small {
  width: 8px;
  height: 8px;
  background-color: var(--loader-dark-color);
  box-shadow: 16px 0 var(--loader-dark-color), -16px 0 var(--loader-dark-color);
}

@keyframes loader {
  0% {
    background-color: var(--loader-light-color);
    box-shadow: 32px 0 var(--loader-light-color), -32px 0 var(--loader-dark-color);
  }

  50% {
    background-color: var(--loader-dark-color);
    box-shadow: 32px 0 var(--loader-light-color), -32px 0 var(--loader-light-color);
  }

  100% {
    background-color: var(--loader-light-color);
    box-shadow: 32px 0 var(--loader-dark-color), -32px 0 var(--loader-light-color);
  }
}


/* /// modal-window /// */
.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(13px);
  background-color: #80808042;
  opacity: 0;
  z-index: -100;
}

.modal-window--show {
  padding: 50px 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 100;
  opacity: 1;
  overflow-y: auto;
}



/* ///////////////////          /////////////////// */
/* /////////////////// cervices /////////////////// */
/* ///////////////////          /////////////////// */

/* /// cervices-list /// */
.cervices-list {
  padding: 48px 70px;
  margin: 0 auto;
  width: 770px;
}

.cervices-list__head {
  position: relative;
  margin: 0 auto 65px;
  width: fit-content;
}

.cervices-list__add-btn {
  position: absolute;
  top: 5px;
  right: -55px;
  padding: 5px;
}

.cervices-list__search-input {
  margin-bottom: 21px;
  width: 100%;
  height: 60px;
}

.cervices-list__list {
  display: flex;
  flex-direction: column;
  gap: 21px;
}


/* /// add-cervice /// */
.add-cervice__form {
  padding: 56px 90px 20px;
  width: 570px;
}

.add-cervice__title {
  margin-bottom: 30px;
}

.add-cervice__input {
  margin-bottom: 40px;
  width: 100%;
}

.add-cervice__btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.add-cervice__submit-btn,
.add-cervice__cancel-btn {
  padding: 13px 20px;
}


/* /// delete-cervice /// */
.delete-cervice__form {
  padding: 66px 50px 30px;
  width: 720px;
}

.delete-cervice__question {
  margin-bottom: 50px;
}

.delete-cervice__btns {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px;
}

.delete-cervice__submit-btn {
  padding: 12px 40px;
}

.delete-cervice__cancel-btn {
  padding: 12px 34px;
}


/* /// add-requirement /// */
.create-requirement__form {
  padding: 56px 53px 20px;
  width: 570px;
}

.create-requirement__title {
  margin-bottom: 10px;
}

.create-requirement__input {
  margin-bottom: 20px;
  width: 100%;
}

.create-requirement__radio-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.create-requirement__radio-input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
}

.create-requirement__radio-label {
  position: relative;
  padding: 8px 10px 8px 40px;
  display: block;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  color: #FFFFFF80;
  border: 1px solid #797979;
  border-radius: 8px;
  background-color: var(--unchecked-radio-btn-bg-color);
  cursor: pointer;
}

.create-requirement__radio-input:checked+.create-requirement__radio-label {
  color: #FFFFFF;
  border: 1px solid #FFFFFFA7;
  background-color: var(--checked-radio-btn-bg-color);
}

.create-requirement__radio-label::before {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 24px;
  height: 21px;
  content: '';
  transform: translateY(-55%);
  z-index: 100;
}

.create-requirement__submit-btn {
  padding: 13px 20px;
  display: block;
  margin: 0 auto;
}

.create-requirement__link-radio-btn .create-requirement__radio-label::before {
  background: no-repeat center center url('../icons/link.svg');
}

.create-requirement__file-radio-btn .create-requirement__radio-label::before {
  background: no-repeat center center url('../icons/file.svg');
}

.create-requirement__text-radio-btn .create-requirement__radio-label::before {
  background: no-repeat center center url('../icons/pen.svg');
}






/* ///////////////////          /////////////////// */
/* /////////////////// realises /////////////////// */
/* ///////////////////          /////////////////// */





/* ///////////////////              /////////////////// */
/* /////////////////// requirements /////////////////// */
/* ///////////////////              /////////////////// */





/* ///////////////////           /////////////////// */
/* /////////////////// templates /////////////////// */
/* ///////////////////           /////////////////// */




/*
alpha % = alpha HEX
90% = e6
80% = cc
70% = b3
60% = 99
50% = 80
40% = 66
30% = 4d
20% = 33
10% = 1a
*/
