<app-modal-window [show]="show" (close$)="close$.next()">
  <form class="create-requirement__form">
    <label class="create-requirement__title modal-card__title" for="serviceName">Создать требование</label>
    <input class="create-requirement__input modal-card__input" type="text" name="serviceName" id="serviceName"
      placeholder="Название требования">

    <div class="create-requirement__radio-btns">
      <div class="create-requirement__radio-btn">
        <input class="create-requirement__radio-input" type="radio" name="requirementType" id="text-requirement"
          value="text-requirement" checked>
        <label class="create-requirement__radio-label requirement-entity requirement-entity--text"
          for="text-requirement">Текст</label>
      </div>
      <div class="create-requirement__radio-btn">
        <input class="create-requirement__radio-input" type="radio" name="requirementType" id="link-requirement"
          value="link-requirement">
        <label class="create-requirement__radio-label requirement-entity requirement-entity--link"
          for="link-requirement">Ссылка</label>
      </div>
      <div class="create-requirement__radio-btn">
        <input class="create-requirement__radio-input" type="radio" name="requirementType" id="file-requirement"
          value="file-requirement">
        <label class="create-requirement__radio-label requirement-entity requirement-entity--file"
          for="file-requirement">Файл</label>
      </div>
    </div>

    @if (!shortFormat) {
      <select class="create-requirement__responsible-select select" name="responsible-select" id="responsible-select">
        <option value="" disabled selected hidden>Выберите ответственного</option>
        @for (userData of usersData; track userData.id) {
        <option class="create-requirement__responsible-select-option select-option" [value]="userData.id">
          {{ userData.name }}
        </option>
        }
      </select>
    }

    <div class="create-requirement__btns">
      <app-button classes="create-requirement__submit-btn" type="submit" (click$)="submit()">
        Сохранить
      </app-button>
    </div>
  </form>
</app-modal-window>
