:host {}

::ng-deep .create-requirement {
  &__form {
    padding: 67px 77px 30px;
    width: 700px;
  }

  &__title {
    margin-bottom: 35px;
  }

  &__input {
    margin-bottom: 30px;
    width: 100%;
  }

  &__radio-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    margin-bottom: 20px;
  }

  &__radio-input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
  }

  &__radio-label {
    cursor: pointer;
  }

  &__radio-input:checked+&__radio-label {
    color: #FFFFFF;
    border: 1px solid #FFFFFFA7;
    background-color: var(--checked-radio-btn-bg-color);
  }

  &__responsible-select {
    padding-top: 5px !important;
    padding-bottom: 6px !important;
    margin-bottom: 20px;
  }

  &__btns {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__submit-btn {
    padding: 13px 20px;
  }
}
