<app-layout-header />

<app-layout-main>
  <!-- <button (click)="show$.next(true)">Click me!</button> -->
  <!-- {{ color$ | async }} -->

  <!-- <div style="padding: 100px; background-color: darkslategray; width: 700px; height: 500px;">
    <select name="a" id="a">
      <option value="a">Шаблон 1</option>
      <option value="a"></option>
      <option value="a"></option>
    </select>
  </div> -->

  <!-- <app-creating-modal-window title="Создание сервиса" namePlaceholder="Сервис" [show$]="show$" /> -->

  <!-- <app-services-info-page /> -->

  <!-- <router-outlet /> -->
</app-layout-main>

<app-layout-footer />
