<header class="header">
  <nav class="header__nav nav">
    <!-- <app-hidden-nav [opened$]="hiddenNavOpened$" [fullyClosed$]="hiddenNavFullyClosed$"
      [onCloseButtonClick]="toggleHiddenNav" /> -->

    <app-burger-btn classes="nav__burger" (burgerClicked$)="toggleHiddenNav()" />

    <ul class="nav__user-controls user-controls__list list-reset">
      <li class="user-controls__item">
        <app-icon-link classes="user-controls__item-link" [linkPath]="userLinkPath">
          <app-svg-icon icon="user" width="28" height="27" />
        </app-icon-link>
      </li>
      <li class="user-controls__item">
        <button class="user-controls__item-btn icon-link btn-reset" (click)="handleLogoutButtonClick()">
          <app-svg-icon icon="exit" width="25" height="21" />
        </button>
      </li>
    </ul>
  </nav>
</header>
