:host {}

.check-input {
  &__label {
    position: relative;
    display: inline-block;
    position: relative;
    cursor: pointer;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    display: inline-block;
    opacity: 0;
    cursor: pointer;
  }

  &__text {
    padding: 9px 15px;
    display: inline-block;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 24px;
    color: #FFFFFFCC;
    background-color: #FFFFFF1A;
    border: 1px solid #FFFFFFA5;
    border-radius: 35px;
    cursor: pointer;
  }

  &__text:focus,
  &__text:hover,
  &__text:active,
  input[type=checkbox]:checked+&__text {
    color: #CF5F00E6;
    border-color: #CF5F00E6;
  }
}
