@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/BebasNeueBold.eot');
  src: local('Bebas Neue Bold'), local('BebasNeueBold'), local('Bebas-Neue-Bold'),
    url('/fonts/BebasNeueBold.woff2') format('woff2'),
    url('/fonts/BebasNeueBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/BebasNeueRegular.eot');
  src: local('Bebas Neue Regular'), local('BebasNeueRegular'), local('Bebas-Neue-Regular'),
    url('/fonts/BebasNeueRegular.woff2') format('woff2'),
    url('/fonts/BebasNeueRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('/fonts/MuseoSansCyrlMedium.eot');
  src: local('Museo Sans Cyrl Medium'), local('MuseoSansCyrlMedium'), local('Museo-Sans-Medium'),
    url('/fonts/MuseoSansCyrlMedium.woff2') format('woff2'),
    url('/fonts/MuseoSansCyrlMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* /////////////////////// */
/* /////////////////////// */
/* /////////////////////// */
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('/fonts/MuseoSansCyrlMedium.eot');
  src: local('Museo Sans Cyrl Medium'), local('MuseoSansCyrlMedium'), local('Museo-Sans-Medium'),
    url('/fonts/MuseoSansCyrlMedium.woff2') format('woff2'),
    url('/fonts/MuseoSansCyrlMedium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('/fonts/MuseoSansCyrlLight.eot');
  src: local('Museo Sans Cyrl Light'), local('MuseoSansCyrlLight'), local('Museo-Sans-Light'),
    url('/fonts/MuseoSansCyrlLight.woff2') format('woff2'),
    url('/fonts/MuseoSansCyrlLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


:root {
  --max-content-width: 1950px;

  --museo-font: "Museo Sans Cyrl", sans-serif;
  --bebas-font: "Bebas Neue", sans-serif;
  --font-family: "Museo Sans Cyrl", sans-serif;
  --second-family: "Bebas Neue", sans-serif;

  --black-color: #1C1A1A;
  --orange-color: #CF5F00;
  --test-green-color: #5BAB35;
  --green-color: #538C38;
  --white-color: #FFFFFF;

  --text-dark-color: #212121;
  --text-light-color: #FFFFFF;

  --page-bg-color: #1C1A1A;
  --footer-bg-color: #37373733;
  --hidden-nav-bg-color: #2C2C2C;
  --card-bg-color: #373737;
  --search-bg-color: #D9D9D90C;
  --list-item-bg-color: #1C1A1A;
  --button-bg-color: #4C4C4C;
  --unchecked-radio-btn-bg-color: #3F3F3F;
  --checked-radio-btn-bg-color: #585757;

  // --loader-light-color: #9BA7FF;
  // --loader-dark-color: #3855F6;
  --loader-light-color: #60bd34;
    --loader-dark-color: #416630;

  --info-table-border: 2px solid #4B4B4B;
}

html {
  background-color: var(--page-bg-color);
}

body,
.root {
  min-height: 100vh;
}

.root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-weight: 400;
  background: repeat-y 0 -30% url('/icons/background-mask.svg');
  // background-size: contain;
}

.main {
  position: relative;
  padding: 0 15px;
  margin: 0 0 100px;
  width: 100%;
  min-height: 400px;
  max-width: var(--max-content-width);
}



/* ///////////////////        /////////////////// */
/* /////////////////// common /////////////////// */
/* ///////////////////        /////////////////// */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* font-family: var(--second-family); */
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

.title-reset,
.paragraph-reset {
  margin: 0;
}

.stop-scroll {
  overflow-y: hidden;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
