<div class="services__service-info-wrapper">
  @if (serviceData) {
    <app-services-actions class="service-actions" (checkReadiness$)="checkReadiness()" (generatePage$)="generatePage()" />

    <app-services-releases-list class="service-releases" [releasesData]="serviceReleasesData" />

    <app-info-card class="service-info" classPrefix="service-info" [title]="serviceData.name" [requirementItems]="serviceData.requirements"
      (delete$)="deleteService()" (saveChanges$)="editService()" (addRequirement$)="addRequirement()"
      (deleteRequirement$)="deleteRequirement()" />
    }
  @else {
    <app-loader />
  }
</div>
